.navbar{
    background-color: rgb(129, 134, 226);
}
.navbar :hover {
    text-decoration: underline;
}
.register{
    margin-left: 15px;
    margin-right: 15px;
    background-color:rgb(26, 24, 77);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    color: aliceblue;
}
body{
    margin-left: 10px;
    margin-right: 10px;
}

.footer{
    text-align: center;
    background-color: rgb(189, 189, 199);
    color: white;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 0px;
}