<div *ngIf="user" class="px-4 py-16 md:p-10">
    <h1 class="text-6xl font-thin mb-5">User - {{ user.name }} {{ user.surname1 }} {{ user.surname2 }}</h1>
    <p class="opacity-50 mb-5">
        <a [routerLink]="['/backoffice']">Backoffice</a> > <a [routerLink]="['/backoffice/users']">Users</a> > <a [routerLink]="['/backoffice/users',user.nif]" class="font-bold">User</a>
    </p>
    <button (click)="toggleUser()" class="my-5"><span class="font-bold py-2 px-3 bg-[#ffffff79] shadow-md duration-500 transition-all hover:shadow-xl rounded-full">Toggle activation</span> - State: <span class="{{ user.activated ? 'bg-green-500':'bg-red-500'}}  py-2 px-3 rounded-full duration-300 transition-all">{{ user.activated ? 'Activated':'Disabled'}}</span></button>
    <div class="tableWrapper">
        <table class="overflow-auto w-full text-sm text-left text-gray-500 border-separate border-spacing-1">
            <tr class="h-8">
                <th>NAME</th>
                <th>FILE</th>
                <th>STATE</th>
            </tr>
            <tr *ngFor="let document of user.documents">
                <td class="text-xl h-5"><p>{{ document.name }}</p></td>
                <td>
                    <div class="text-xl my-auto mr-4" *ngIf="document.path">
                        {{ document.fileName }}
                    </div>
                </td>
                <td class="text-center">
                    <svg *ngIf="document.path != undefined" xmlns="http://www.w3.org/2000/svg" class="h-10 text-green-500 mx-auto" viewBox="0 0 512 512"><title>Checkmark</title><path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M352 176L217.6 336 160 272"/></svg>
                    <svg *ngIf="document.path == undefined" xmlns="http://www.w3.org/2000/svg" class="h-10 text-red-500 mx-auto" viewBox="0 0 512 512"><title>No document</title><path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M320 320L192 192M192 320l128-128"/></svg>
                </td>
            </tr>
        </table>
    </div>
</div>