<div class="flex flex-col h-full select-none">
    <h1 class="text-5xl md:text-8xl font-thin mx-auto md:my-10 my-2">ADVENA.CAT</h1>
    <div class="border mx-auto p-10 rounded-3xl shadow-2xl drop-shadow-2xl bg-[#ffffff2f] md:mt-10">
        <p class="text-center text-3xl md:text-6xl font-extralight text-blue-800 md:mt-10 md:mb-4">Are you new in Manresa?<br/>Are the procedures stressful?<br/>Do you need help?</p>
        <p class="text-center text-xl md:text-3xl font-extralight md:mt-10 md:mb-8 mt-3 mb-3">We offer you the solutions</p>
        <div class="my-auto mx-auto flex w-full justify-around mb-4 md:flex-row flex-col gap-2 text-center">
            <a routerLink="arriago" class="px-8 py-2 bg-blue-100 hover:bg-blue-200 transition-all shadow-md hover:shadow-xl rounded-2xl duration-500 uppercase text-lg" >Settle down</a>
            <a routerLink="course" class="px-8 py-2 bg-blue-100 hover:bg-blue-200 transition-all shadow-md hover:shadow-xl rounded-2xl duration-500 uppercase text-lg">Courses</a>
            <a routerLink="about" class="px-8 py-2 bg-blue-100 hover:bg-blue-200 transition-all shadow-md hover:shadow-xl rounded-2xl duration-500 uppercase text-lg">Information</a>
        </div>
    </div>
</div>