<section class="home">
    <img src="https://media.istockphoto.com/id/900629258/es/foto/manresa-en-la-noche.jpg?s=170667a&w=0&k=20&c=ZcgketLZANDs8j7rjkhRqYz7SXuD-NCBQY5_Zn5_Cmg=" alt="">

    <div class ="homecontent">
    <h1>
        Are you new in Manresa? 
    </h1>
    <h1>Are the procedures stressful?</h1>
    <h1>Do you need help?</h1>
    <h2>
        Then this is what you need!!!
    </h2>
    <a href="arriago" class="btn btn-lg btn-light" >Tramitors</a> &nbsp;
    <a href="course" class="btn btn-lg btn-light">Courses</a> &nbsp;
    <a href="about" class="btn btn-lg btn-light">Information</a> &nbsp;


</div>
</section>
