<section class="home">
    <img src="https://imageio.forbes.com/specials-images/imageserve/620bbdd90151c01cc70216ad/Group-hands-on-top-of-each-other-of-diverse-multi-ethnic-and-multicultural/960x0.jpg?format=jpg&width=960" alt="">

    <div class ="homecontent">
    <h1>
        Are you new in Manresa? 
    </h1>
    <h1>Are the procedures stressful?</h1>
    <h1>Do you need help?</h1>
    <h2>
        Then this is what you need!!!
    </h2>
    <a href="#" class="btn btn-lg btn-light">Tramitors</a> &nbsp;
    <a href="#" class="btn btn-lg btn-light">Courses</a> &nbsp;
    <a href="#" class="btn btn-lg btn-light">Know your surroundings</a> &nbsp;


</div>
</section>
