.form{
    color: #98b8db;
    margin-left: 500px;
    margin-right: 500px;
    background-color: rgb(37, 60, 93);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 60px;
    text-align: left;

}
.pg{
    background-image: url('https://i.pinimg.com/originals/e1/f8/55/e1f8554dd0f4e79613cceb8cd006161d.jpg');
    background-repeat: no-repeat;
padding-top: 100px;
padding-bottom: 100px;
}


.btn{
    background-color: rgb(89, 91, 104);
    border-radius: 90px;
    

}

.button{
    text-align: center;
}
.btn:hover{
    background-color: rgb(61, 65, 65);

}