.form{
    margin-left: 500px;
    margin-right: 500px;
    background-color: rgb(235, 179, 110);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 80px;
    text-align: left;

}
.pg{
background-color: rgb(41, 45, 105);
padding-top: 100px;
padding-bottom: 100px;
}


.btn{
    background-color: rgb(88, 107, 205);
    border-radius: 90px;
    

}

.button{
    text-align: center;
}