<h1 class="text-6xl font-thin mb-5">Users</h1>
<p class="opacity-50 mb-5">
    <a [routerLink]="['/backoffice']">Backoffice</a> > <a [routerLink]="['/backoffice/users']" class="font-bold">Users</a>
</p>
<div class="flex flex-col mb-2">
    <label class="text-3xl font-thin" for="buscador">Filter</label>
    <input class="p-2 w-1/3 border-b border-gray-300" type="text" name="buscador" id="buscador" [(ngModel)]="buscador" (change)="updateUsers()">
</div>
<div class="tableWrapper">
    <table>
        <tr>
            <th class="w-1/3" colspan="1">NAME</th>
            <th class="w-1/3" colspan="1">SURNAME</th>
            <th class="w-1/3" colspan="1">NIF</th>
        </tr>
        <tr *ngFor="let user of users | filterUsers:buscador" [routerLink]="['/backoffice','users',user.nif]" routerLinkActive="router-link-active" >
            <td colspan="1">{{ user.name }}</td>
            <td colspan="1">{{ user.surname }}</td>
            <td colspan="1">{{user.nif}}</td>
        </tr>
        <tr *ngIf="(users | filterUsers:buscador).length == 0">
            <td class="text-center" colspan="3">No hi han usuaris</td>
        </tr>
    </table>
</div>