.course{
    background-color: rgb(236, 211, 190);
    padding: 50px 100px;
}
h1{
    font-size: 40px;
}

.box{
    background-color: azure;
    padding: 15px 25px;
    height: 540px;
    margin-bottom: 50px;
}
.box img{
    height: 400px;
}

.btn{
    background-color: rgb(175, 129, 102);
}
.btn:hover{
    background-color: rgb(136, 99, 78);
}

@media screen and (max-width:600px) {
    .course{
        padding: 50px 10px;
        
    }
    .box{
        margin-bottom: 50px;
    }
}