.landing{
   
    background-color: rgb(88, 164, 236);
}

.container{
    text-align: center;
    align-items: center;
    padding-left: 450px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0;
}