.landing{
   color:rgb(26, 24, 77);
    background-color: rgb(241, 179, 189);
}

.container{
    text-align: center;
    align-items: center;
    padding-left: 450px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0;
}